# Server Environment Variables
DATABASE_URL=postgresql://neondb_owner:npg_5SJfzuWlM9Qk@ep-square-cloud-aod1t4ay-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development

# Web Environment Variables
NEXT_PUBLIC_SERVER_URL=http://localhost:8000
